<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Tu cuenta de email"
        [class.invalid]="!loginForm.controls.email.valid &&
          (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      (emailChanged || submitAttempt)">
      <p>Por favor ingresa un email valido</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password"
        (change)="elementChanged(password)"
        placeholder="Contraseña"
        [class.invalid]="!loginForm.controls.password.valid &&
          (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      (passwordChanged || submitAttempt)">
      <p>Tu contraseña debe contener al menos 6 caracteres</p>
    </ion-item>

    <button ion-button block type="submit">
      Iniciar sesion
    </button>

  </form>

  <button ion-button block clear (click)="goToResetPassword()">
    Olvide mi contraseña
  </button>

  <button padding ion-button block clear (click)="createAccount()">
    Crear nueva cuenta
  </button>

</ion-content>
