page-profile {

  img {
    // border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 60px; /* must be width + border */
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}
