page-meal-detail {

	.slides .detail {
    position: relative;
  }

  .addPicture {
    position: absolute;
    z-index: 999;
    bottom: 2%;
    right: 2%;
  }

  .newMeal {
    height:40vh;
    background-color: #f8f8f8;
    position: relative;
    text-align: center;
  }

  .onlyText {
    position: absolute;
    font-size: 8vh;
    width: 100%;
    color: #666;
    padding: 2vh;
  }

  .chatInput {
  	background-color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding-left: 2vh;
  }

}
