page-meal-detail {

	.detail {
    position: relative;
  }

  .slides {
    position: relative;
  }

  .newMeal {
    height:30vh;
    background-color: #f8f8f8;
    position: relative;
    text-align: center;
  }

  .addPicture {
    position: absolute;
    z-index: 999;
    bottom: 2%;
    right: 2%;
  }

  .onlyText {
    position: absolute;
    font-size: 4vh;
    width: 100%;
    color: #666;
    padding: 2vh;
  }

  .chatInput {
  	background-color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding-left: 2vh;
  }

  .chatPageFooter {
    .toolbar-background {
      background: map-get($colors, background-color);
    }
  }

  .input-cover {
    position: static;
  }

}
