page-meal-detail {

	.detail {
    position: relative;
  }

  .slides {
    position: relative;
  }

  .newMeal {
    height:30vh;
    background-color: #f8f8f8;
    position: relative;
    text-align: center;
  }

  .addPicture {
    position: absolute;
    z-index: 999;
    bottom: 2%;
    right: 2%;
  }

  .onlyText {
    position: absolute;
    font-size: 4vh;
    width: 100%;
    color: #666;
    padding: 2vh;
  }

  .chatInput {
  	background-color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding-left: 2vh;
  }

  .chatPageFooter {
    .toolbar-background {
      background: map-get($colors, background-color);
    }
  }

  .enviar {
    font-size: 4vh;
  }

  .input-cover {
    position: static;
  }

  .noReview {
    color: lightgrey
  }

  .review { 
    color: map-get($colors, primary);
  }

  .okIcon {
    color: map-get($colors, secondary);
  }

  .regular {
    color: #FFCC33;
  }

  .wrongIcon {
    color: map-get($colors, danger);
  }

  .input-cover {
    position: static;
  }

  .textArea {
    border-color: lightgrey;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width: 90%;
  }

  .text-input-ios {
    margin: 0px;
  }

  .toolbar-background {
    background: map-get($colors, background-color);
  }

  .footerNoTab {
    bottom: 0 !important;
  }

}
