<ion-header>

  <ion-navbar>
    <ion-title> {{ mealParams.meal }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content (tap)="contentMouseDown($event)" fixed scrollDownOnLoad="true"
ionScrollEnd="hideKeybaord()">

	<div class="detail">
		
		<div  *ngIf="(meal | async).localImages" class="slides">
      <div class="addPicture">
        <button ion-fab mini (click)="addPicture()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
      <ion-slides pager>
        <ion-slide *ngFor="let image of (meal | async).localImages | objectIterate">
          <img [src]="pathForImage(image)" class="slide-image"/>
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngIf="!(meal | async).localImages && (meal | async).text" class="newMeal">
      <div class="addPicture">
        <button ion-fab mini (click)="addPicture()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
      <div center class="onlyText">
        <ion-row>
          <ion-col center>
            <p> {{ (meal | async).text }} </p>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="text">
      <ion-row align-items-center>
        <ion-col col-3 align-self-center text-center>
         <span icon-left small ion-text>
           <span class="noReview"
           [ngClass] = "{ 'okIcon': ((meal | async).rate === 'ok'? true : false) }">
             <i class="fa fa-check-circle" aria-hidden="true"></i>
           </span>
         </span>
         <span icon-left small ion-text>
           <span class="noReview"
           [ngClass] = "{ 'regular': ((meal | async).rate === 'regular'? true : false) }">
             <i class="fa fa-minus-circle" aria-hidden="true"></i>
           </span>
         </span>
         <span icon-left small>
           <span class="noReview"
           [ngClass] = "{ 'wrongIcon': ((meal | async).rate === 'notok'? true : false) }">
             <i class="fa fa-times-circle" aria-hidden="true"></i>
           </span>
         </span>
       </ion-col>
        <ion-col col-7>
          <ion-note *ngIf="(meal | async).localImages && (meal | async).text">{{ (meal | async).text }}</ion-note>
        </ion-col>
        <ion-col col-2 text-center>
          <button ion-button icon-center clear small (click)="editText()">
             <span icon-center ion-text style="font-size: 3vh;"><ion-icon name="create"></ion-icon></span>
          </button>
        </ion-col>
      </ion-row>
    </div>

    <ion-list>
		  <ion-item *ngFor="let review of (meal | async ).reviews | objectIterate: true">
		    <p><strong>{{ review.name }}</strong> {{ review.message }}</p>
        <p><small>{{ review.timestamp | momentFromNow}}</small></p>
		  </ion-item>
		</ion-list>

	</div>

</ion-content>

 <ion-footer (touchstart)="footerTouchStart($event)">

   <ion-toolbar>

      <textarea spellcheck="true" autoComplete="true" autocorrect="true" rows="1" fz-elastic class="textArea" #ionTxtArea 
        placeholder="{{placeholder}}"
        (keyup.shift.enter) = "sendReview()"
        [(ngModel)]="message"
        (ngModelChange)='textAreaChange()'>
      </textarea>

      <ion-buttons right clear>
        <button [disabled]="!message" (click)="sendReview()" ion-button color="primary" clear icon-right>
          Enviar
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>

    </ion-toolbar>

</ion-footer>
