<ion-toolbar color="ligther">

<!-- 	<ion-textarea class="textArea" #ionTxtArea
	  placeholder='{{placeholder}}'
	  (keyup.enter)="send()"
	  [(ngModel)]="content"
	  (ngModelChange)='onChange($event)'>
	</ion-textarea>
 -->

 	<textarea spellcheck="true" autoComplete="true" autocorrect="true" rows="1" fz-elastic class="textArea" #ionTxtArea 
	  placeholder='{{placeholder}}'
	  (keyup.enter)="send()"
	  [(ngModel)]="content"
	  (ngModelChange)='onChange($event)'>
	</textarea>

	<ion-buttons right clear>
	  <!-- <button (click)="send()" (touchstart)="touchSendButton($event)" ion-button color="primary" clear icon-right> -->
	  <button (touchstart)="touchSendButton($event)" ion-button color="primary" clear icon-right>
	  	Enviar
	    <ion-icon name="send"></ion-icon>
	  </button>
	</ion-buttons>
	
</ion-toolbar>
