chat-ui-input {
	
	.textArea {
    background-color: white;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
    margin-right: 1rem;
    width: auto;
  }

  .text-input-ios {
		margin: 0px;
  }

  .toolbar-background {
    background: map-get($colors, background-color);
  }
}
