{{ _lineHeight }}
<ion-toolbar color="ligther">

	<!-- <ion-grid> -->
		<!-- <ion-row align-items-center> -->
			<!-- <ion-col col-9> -->
				<ion-textarea class="textArea" #ionTxtArea
				  placeholder='{{placeholder}}'
				  [(ngModel)]="content"
				  (ngModelChange)='onChange($event)'>
				</ion-textarea>
			<!-- </ion-col> -->

			<!-- <ion-col col-3> -->
				<ion-buttons right clear>
				  <button (click)="send()" ion-button color="primary" clear icon-right>
				  	Enviar
				    <ion-icon name="send"></ion-icon>
				  </button>
				</ion-buttons>
			<!-- </ion-col> -->
		<!-- </ion-row> -->

	<!-- </ion-grid> -->
	
	
</ion-toolbar>
