
<ion-header>

  <ion-navbar no-border-bottom>
    <ion-title class="nameDay">{{ day.format("dddd")}} {{ day.format("DD")}}  {{ day.format("MMMM")}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only small (click)="presentActivity()" >
        <ion-icon name="ios-notifications-outline" 
        *ngIf="((activity | async)?.unReadFeed ===0) || !(activity | async)?.unReadFeed"></ion-icon>
        <ion-icon name="notifications"
        *ngIf="(activity | async)?.unReadFeed > 0"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
		<week-calendar [selected]="day" [commented]="commented" (selectedDay)="setDay($event)"></week-calendar>
  </ion-toolbar>

</ion-header>

<ion-content padding>

<div *ngFor="let entry of diary" >
  <diary-entry [day]="day" [mealInput]="entry" (detail)="detail($event)" ></diary-entry>
</div>

</ion-content>
