page-diary {

  ion-navbar {
    text-align: center;
  }

  .toolbar-background-ios {
    border-style: none;
  }

  .toolbar-ios {
    padding: 0px;
    min-height: 0px;
  }

  // .nameDay {
  //   padding-top: 15px;
  // }

}
