week-calendar {

  .grid {
    padding: 0px
  }

  .days {
    padding: 0px;
    margin: 0px;
    color: black;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    font-weight: lighter;
  }

  ion-row {
    border-style: none;
    /* lo de abajo no va a funcionar, porque camie el border style de solid a none */
    border-width: 0.5px;
    border-radius: 5px;
    border-color: lightgray;
  }

  .number {
    border-radius: 100px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px;
  }

  .active {
    // color: #FF0000;
    font-weight: bold;
  }

  .today {
    color: rgb(42, 60, 170)
  }

  .commented {
    background-color: #E3E3E3
  }

}
