<div *ngIf="mealInput">
  <ion-card>
    
    <ion-card-header>
      <span left >{{ mealInput.meal }}</span>
    </ion-card-header>

    <div class="slides" *ngIf="mealInput.localImages">
      <div class="addPicture">
        <button ion-fab mini (click)="addPicture()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
      <ion-slides pager [options]="mySlideOptions" (click)="goToDetail(mealInput)" tappable>
        <ion-slide *ngFor="let image of mealInput.localImages">
          <img [src]="image" class="slide-image"/>
        </ion-slide>
      </ion-slides>
    </div>

    <div *ngIf="!mealInput.localImages && mealInput.text" class="newMeal">
      <div class="addPicture">
        <button ion-fab mini (click)="addPicture()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
      <div class="onlyText" (click)="goToDetail(mealInput)" tappable>
        <p> {{ mealInput.text }} </p>
      </div>
    </div>

    <div *ngIf="!mealInput.localImages && !mealInput.text" class="newMeal">
      <div class="camera" (click)="addPicture()" tappable>
        <ion-icon name="camera"></ion-icon>
      </div>
    </div>

    <ion-card-content (click)="addText()" tappable *ngIf="!mealInput.text">
      <span><ion-icon name="create"></ion-icon> ¿Que comiste?</span>
    </ion-card-content>

    <div *ngIf="mealInput.text || mealInput.localImages">
      <ion-row>
       <ion-col center text-center>
         <span icon-left small ion-text color="secondary" class="okIcon">
           <ion-icon name="checkmark-circle"></ion-icon>
         </span>
         <span icon-left small class="wrongIcon">
           <ion-icon name="close-circle"></ion-icon>
         </span>
       </ion-col>
       <ion-col>
         <button ion-button icon-left clear small>
           <ion-icon name="text"></ion-icon>
           <div>2 comentarios</div>
         </button>
       </ion-col>
       <ion-col center text-center>
         <ion-note>
           11h ago
         </ion-note>
       </ion-col>
     </ion-row>
    </div>
    

  </ion-card>

</div>

<!-- <p>{{day}}</p>  -->
